#content{
	display: none
}
#access{
	display: none
}

.clickable{
	cursor: pointer;
}

.badge-attending{
	background-color: #005777;
	color: white;
}

.badge-reply{
	background-color: white;
	border-color: #005777;
	color: #005777;
	border-style: solid;
}

.padded{
	padding:0.25em 0.4em;
}

.borderSpecial{
	background-color: white;
	border-color: #005777;
	color: #005777;
	border-style: solid;
	border-width: 1px;
  	border-radius: 8px;
}

.borderTop{
	background-color: white;
	border-color: #005777;
	color: #005777;
	border-top: 1px solid;
}